doctype html
html
    head
        title Aqron|Home page
        link(href='/static/styles/style.css' rel='stylesheet')
        
         
    body
        header.header
            h1.logo
                a(href='/') Aqron
            nav.nav
                a(href='/employees') See All Employees
                a(href='/create') Add Employee
            
            
        block content
        
        footer.footer
            section.map-sec
                h3 Site map
                    ul.map
                        li 
                            a(href='/') Home
                        li 
                            a(href='/employees') List of Employees
                        li 
                            a(href='/create') Add New Employee
                        

            p.cw This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service

        